.home-contain {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.home-image {
    width: 100%;
    background: url('../image/start_visual.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 50px;
}

.home-image h2 {
    background-color: rgba(4, 25, 100, 0.3);
    padding: 20px 0 0 20px;
    color: #fff !important;
    margin-bottom: 0px !important;
}

.home-image p {
    background-color: rgba(4, 25, 100, 0.3);
    padding: 20px 0 0 20px;
    color: #fff !important;
    margin-top: 0px !important;
}

.home-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.home-intro_image {
    margin-right: 20px;
}

.home-intro_divide {
    margin: 30px auto;
    width: 150px;
    clear: both;
}

.comment-body {
    padding-left: 0.1em;
}

.realscore {
    background: url('../image/score1-9.jpg');
}

.realscore1 {
    background-position: 0 -30px;
}

.realscore2 {
    background-position: 0 -82px;
}

.realscore3 {
    background-position: 0 -134px;
}

.realscore4 {
    background-position: 0 -186px;
}

.realscore5 {
    background-position: 0 -238px;
}

.realscore6 {
    background-position: 0 -290px;
}

.realscore7 {
    background-position: 0 -342px;
}

.realscore8 {
    background-position: 0 -394px;
}

.realscore9 {
    background-position: 0 -446px;
}

ol.commentlist li {
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    min-height: 55px;
    margin-top: 20px;
}

ol.commentlist li .realscore {
    height: 52px;
    width: 48px;
    margin: auto;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

ol.commentlist li p {
    word-wrap: break-word;
}

.star-icon {
    width: 24px;
    height: 24px;
    margin: -3px 3px 0 0;
    color: #00a843;
}

ol.commentlist li div.comment-meta {
    font: 10px/1.4 helvetica, arial, sans-serif;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 5px;
}

@media (min-width: 1000px) {
    .home-contain {
        width: 700px !important;
    }
}

@media (min-width: 800px) {
    .search-box {
        margin-top: 6em !important;
    }

    .home-contain {
        width: 85%;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .search-box {
        margin-top: 2em !important;
    }

    .home-contain {
        width: 90%;
    }

    .home-intro_image {
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 499px) {
    .home-contain {
        width: 95%;
    }

    .home-intro {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .home-intro_image {
        margin-bottom: 20px;
    }
}